<!--

$1$ Right side panel #1#
<div class="rightpanel" data-ng-cloak data-ng-show="showMenuRight">
    <featureprops class="rightpanel-content"></featureprops>
    <caretoolright class="rightpanel-content"></caretoolright>
</div>
-->

<!--
    <tabset vertical="true" id="rightpanelTabs" class="rightpanel tabs-left">
        <tab heading="i">features</tab>
        <tab heading="C">Caretool</tab>
    </tabset>
    -->

<div class="rightpanel" style="background-color: transparent; ">
    <div id="rightpanelTabContainer" class="tabbable tabs-left" style="position:relative;height:100%;padding:0px">
        <!-- Nav tabs -->
        <!--<div id="rightPanelToggle">
                <i class="fa fa-2x fa-chevron-right" style="margin-left: 10px;margin-top: 108px;"></i>
            </div>-->
        
        <ul id="rightpanelTabs" class="nav nav-tabs" style="margin-right:0px; margin-top:100px; display:inline-block">
            <li class="rightPanelTab rightPanelTabAnimated active" ng-show="featureSelected"><a href="#info" style="" data-toggle="tab"><span class="fa fa-info fa-lg"></span></a></li>
            <li class="rightPanelTab rightPanelTabAnimated" ng-show="featureSelected && editMode"><a href="#featuretype" style="" data-toggle="tab"><span class="fa fa-map-marker fa-lg"></span></a></li>
            <li class="rightPanelTab rightPanelTabAnimated" ng-show="featureSelected && editMode"><a href="#propertytype" style="" data-toggle="tab"><span class="fa fa-list fa-lg"></span></a></li>
        </ul>
        <div id="rightpanelTabPanes" class="tab-content" style="display: inline-block; height:100%; background-color: white;">
            <div class="tab-pane active" id="info">
                <featureprops class="rightpanel-content"></featureprops>
            </div>
            <!-- FeatureType panel - TODO: extract -->
            <div class="tab-pane" id="featuretype">
                <h4 class="rightpanel-header">
                    &nbsp;&nbsp;Verander FeatureTypes
                </h4>
                <div class="tab-content" style="top:50px; width:355px; overflow-y: auto; overflow-x: hidden" resize resize-y="150">
                    <table class="table table-condensed">
                        <tr data-ng-repeat="(key, featureType) in vm.$layerService.project.featureTypes">
                            <td data-ng-click="enabled=!enabled">
                                <a data-ng-class="enabled ? 'fa fa-caret-right makeNarrow' : 'fa fa-caret-down makeNarrow'"></a>
                            </td>
                            <td>
                                <div data-ng-show="!enabled" data-ng-click="enabled=!enabled">{{ featureType.name }}</div>

                                <div data-ng-show="enabled">
                                    <form editable-form name="featureTypesForm">
                                        <div data-ng-click="enabled=!enabled" data-ng-class="enabled ? 'bold' : ''">Verander naam {{ featureType.name }}</div>

                                        <div class="rightpanel-label">Feature naam</div>
                                        <input type="text" data-ng-model="featureType.name" class="form-control" />
                                        
                                        <div class="rightpanel-label">Icoon link</div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <img ng-src="{{ featureType.style['iconUri'] }}" err-src="images/brandweerposten/Bedrijfsbrandweerkazerne.png" width="32" height="32" class="img-responsive" />
                                            </div>
                                            <div class="col-md-10">
                                                <input type="text" data-ng-model="featureType.style['iconUri']" class="form-control">
                                            </div>
                                        </div>

                                        <div ng-show="featureType.style['drawingMode'] == 'Point'">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="rightpanel-label">Icoonhoogte</div>
                                                    <input type="text" data-ng-model="featureType.style['iconHeight']" class="form-control">
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="rightpanel-label">Icoonbreedte</div>
                                                    <input type="text" data-ng-model="featureType.style['iconWidth']" class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="rightpanel-label">Lijnkleur</div>
                                                <input colorpicker colorpicker-with-input="true" data-ng-model="featureType.style['strokeColor']" class="form-control" id="strokeColor" style="background-color: {{ featureType.style['strokeColor'] }};" />
                                            </div>

                                            <div class="col-md-6">
                                                <div class="rightpanel-label">Lijnbreedte</div>
                                                <input type="text" data-ng-model="featureType.style['strokeWidth']" class="form-control">
                                            </div>
                                        </div>

                                        <div class="rightpanel-label">Vulkleur</div>
                                        <input colorpicker colorpicker-with-input="true" data-ng-model="featureType.style['fillColor']" class="form-control" id="fillColor" style="background-color: {{ featureType.style['fillColor'] }};" />

                                        <button class="btn btn-primary rightpanel-button" data-ng-click="updateFeatureTypes()">Opslaan</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>


            <!-- PropertyType panel - TODO: extract -->
            <div class="tab-pane" id="propertytype">
                <h4 class="rightpanel-header">
                    &nbsp;&nbsp;Verander PropertyTypes
                </h4>
                <div class="tab-content" style="top:50px; width:355px; overflow-y: auto; overflow-x: hidden" resize resize-y="150">
                    <table class="table table-condensed">
                        <tr data-ng-repeat="(key, propertyType) in vm.$layerService.project.propertyTypeData">
                            <td data-ng-click="enabled=!enabled">
                                <a data-ng-class="enabled ? 'fa fa-caret-right makeNarrow' : 'fa fa-caret-down makeNarrow'"></a>
                            </td>
                            <td>
                                <div data-ng-class="enabled ? 'bold' : ''" data-ng-click="enabled=!enabled">{{ key }}</div>

                                <div data-ng-show="enabled">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="rightpanel-label">Titel</div>
                                            <input type="text" data-ng-model="propertyType.title" data-ng-change="key=propertyType.title" class=" form-control">
                                        </div>

                                        <div class="col-md-6">
                                            <div class="rightpanel-label">Property</div>
                                            <input type="text" data-ng-model="propertyType.label" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="rightpanel-label">Beschrijving</div>
                                            <input type="text" data-ng-model="propertyType.description" class="form-control">
                                        </div>

                                        <div class="col-md-6">
                                            <div class="rightpanel-label">Type</div>
                                            <select data-ng-model="propertyType.type" ng-options="item for item in ['bbcode', 'number', 'text']" class="form-control"></select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="rightpanel-label">Bewerkbaar</div>
                                            <select data-ng-model="propertyType.canEdit" ng-options="boolToStr(item) for item in [true, false]" class="form-control"></select>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="rightpanel-label">Vindbaar</div>
                                            <select data-ng-model="propertyType.isSearchable" ng-options="boolToStr(item) for item in [true, false]" class="form-control"></select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="rightpanel-label">Sectie</div>
                                            <select data-ng-model="propertyType.section" ng-options="item for item in ['test1', 'test2', 'Financieel']" class="form-control"></select>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="rightpanel-label">VisibleInCallOut</div>
                                            <select data-ng-model="propertyType.visibleInCallOut" ng-options="boolToStr(item) for item in [true, false]" class="form-control"></select>
                                        </div>
                                    </div>

                                    <button class="btn btn-primary rightpanel-button" data-ng-click="enabled=!enabled">Opslaan</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
    </div>

</div>

<script>
    
        
        

    $('#rightpanelTabs a').click(function (e) {
        var tab = $(this);
        if (tab.parent('li').hasClass('tab-toggle')) {
            var foo = $("#rightpanelTabPanes").children(".tab-pane");
            if (foo.hasClass('active')) {
                foo.removeClass('active');
            } else {
                foo.addClass('active');
            }

        }
        if (tab.parent('li').hasClass('active')) {
            window.setTimeout(function() {
                var foo = $("#rightpanelTabPanes").children(".tab-pane");
                foo.removeClass('active');
                tab.parent('li').removeClass('active');
                $('.leaflet-control-zoom').css('visibility', 'visible');
                $('.leaflet-control-locate').css('visibility', 'visible');
            }, 1);
        } else {
            $('.leaflet-control-zoom').css('visibility', 'hidden');
            $('.leaflet-control-locate').css('visibility', 'hidden');
        }
    });

</script>

<div class="leftpanel" ng-cloak>
    <div class="col-xs-3 leftpanel-tab">
        <!-- required for floating -->
        <!-- Nav tabs -->
        <ul class="nav nav-tabs tabs-left" id="leftPanelTab">
            <!-- 'tabs-right' for right tabs -->
            <li><a href="#basestyles" data-toggle="tab"><img src="includes/images/map-black.png" width="30" alt="map" /></a></li>
            <li class="active"><a href="#layers" data-toggle="tab"><img src="includes/images/layers-black.png" width="30" alt="layers" /></a></li>
            <li><a href="#filters" data-toggle="tab"><img src="includes/images/filter-black.png" width="30" alt="filter" /></a></li>
            <li><a href="#styles" data-toggle="tab"><img src="includes/images/style-black.png" width="30" alt="styles" /></a></li>
            <li><a href="#features" data-toggle="tab"><img src="includes/images/marker-black.png" width="30" alt="features" /></a></li>
            <li><a href="#legend" data-toggle="tab"><img src="includes/images/legend.png" width="30" alt="legend" /></a></li>
        </ul>
    </div>

    <div class="col-xs-9 leftpanel-content">
        <!-- Tab panes -->
        <div class="tab-content">
            <base-map-list class="tab-pane" id="basestyles"></base-map-list>

            <layers-directive class="tab-pane active" id="layers"></layers-directive>

            <filter-list class="tab-pane" id="filters"></filter-list>

            <style-list class="tab-pane" id="styles"></style-list>

            <feature-list class="tab-pane" id="features"></feature-list>

            <legend-list class="tab-pane" id="legend"></legend-list>
        </div>
    </div>
</div>
